main {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: calc(100% - 50px - 75px);
  margin-top: 75px;
  width: 100%;
}

.backgroundLigth {
  display: block;
  background-image: radial-gradient(
    circle at center,
    #ff57226b 0,
    rgba(50, 51, 63, 0) 66.66%
  );
  left: 50%;
  height: 200vh;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 0;
  width: 99.4vw;
  z-index: -1;
}

.logueado {
  margin: 25vh 0vh 0vh 0vh;
  min-height: calc(60vh + 22px);

  .welcome {
    h1 {
      text-transform: uppercase;
    }
    .text {
      width: 43%;
    }
  }
}
@media screen and (max-width: 850px) {
  .logueado {
    .welcome {
      height: 290px !important;
    }
  }
}

@media screen and (max-width: 1200px) {
  .logueado {
    margin: 13vh 0vh 12vh 0vh;
    .welcome {
      flex-basis: 90%;
      max-width: 90%;
      .text {
        width: 60%;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .logueado {
    .welcome {
      .text {
        width: 90%;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .logueado {
    margin: 4vh 0vh 15vh 0vh;
  }
}

@media screen and (max-width: 768px) {
  main {
    margin-top: 90px;
    min-height: calc(100% - 50px - 90px);
  }
}

@media screen and (max-width: 1400px) {
}
