.container404 {
    background: linear-gradient(to right, #7c1d69 0%, #31145c 100%);
    background-size: contain;
    width: 100%;

    .content404 {
        background: url("/404/background.svg");
        background-size: cover;
        display: grid;
        height: 100%;

        place-content: center;
        place-items: center;
        width: 100%;

        img {
            width: 620px;
        }

        .button404{
            bottom: 0;
            display: grid;
            left: 0;
            margin-bottom: 40px;

            position: fixed;
            place-items: center;
            place-content: center;
            right: 0;

            width: 100%;

            input{
                background-color:#00B893;
                border: 2px solid #4bffdb;
                border-radius: 8px;
                color: white;

                cursor: pointer;
                font-size: 20px;
                opacity: .5;
                outline: none;
                
                padding: 6px 20px;
                transition: .8s;
                
                &:hover{
                    opacity: 1;
                    /* transform: rotateX(1turn); */
                }
            }
        }

    }

    @media (max-width:768px){
        .content404{
            img{
                width: 480px;
            }
        }
    }

    @media (max-width:550px){
        .content404{
            img{
                width: 150%;
            }
        }
    }

}
