@import "variables.scss";

main {
  align-items: center;
  background-color: transparent;
  display: flex;
  justify-content: center;
  min-height: calc(100% - 50px);
  width: 100%;
}

.backgroundRegister {
  background: #fff;
  background: linear-gradient(
    to right,
    #d49c00,
    #d19d00,
    #f2b307,
    #881986,
    #7434b4,
    #9048de,
    #7736be,
    #b925b7,
    #b628b9,
    #b526b9,
    #d39d00,
    #d19d00,
    #d19e00
  );
  background: $colorGray1;
  height: 215vh;
  left: -30vw;
  top: -60vh;
  transform: rotateZ(-45deg);
  position: fixed;
  width: 161vw;
  z-index: -1;
}

.containerSesion {
  min-height: 550px;
  width: 90%;
}
