

.card-widget{
    background: #390f64;
    border-radius: 10px;
    overflow: hidden;
    max-width: 415px;
    min-width: 415px;
    .card-widget-head,
    .card-widget-body{
        padding: 1.2rem;
    }
    &-head{
        h3{
            font-weight: 100;
        }
    }
    &_link{
        color: $colorYellow1;
        text-decoration: none;
        &:hover{
            color: $colorYellow3;
        }
    }
    .card-flex-inline{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .card-scroll{
        overflow-y: auto;
        padding-right: 2rem;
    }

    [data-size="small"] {
        height:300px;
    }

    [data-size="medium"] {
        height:600px;
    }
}

.card-event{
    background: white;
    border-radius: 15px;
    color:#111;
    text-shadow: none;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 3px rgba($color: #000000, $alpha: 0.6);
    &-title,
    &-body,
    &-footer{
        padding: 1rem 1rem 0 1rem;
    }
    &-title{
        font-size: 1.1rem;
        font-weight: bold;
    }
    &-body{
        display: flex;
        align-items: center;
        &_image{
            border-radius: 8px;
            overflow: hidden;
        }
        &_description{
            font-size: 1rem;
            padding: 1rem;
            color: $colorPurpleIntermedio;
        }
    }
    &-footer{
        font-size: 0.9rem;
        padding-bottom:1rem;
    }
}
