
.containerInsignias{ 
    align-items: center;
    background-color: $formBackground;
    border-radius: 10px;
    color: white;
    
    display: flex;
    flex-direction: column;
    
    .insignias{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }


}
