.containerRecentActivities {
  color: white;
  margin-top: 20px;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    transition: $transicion600ms;
    &:hover {
      border-bottom: 1px solid $colorFuchiaIntermedio;
      transition: $transicion600ms;
    }
    h4 {
      display: inline;

      /*  border: 1px solid #fff;
      padding: 5px;
      border-radius: 5px;
      background-color: #390f64; */
      /*  transition: $transicion600ms; */

      &:hover {
        /* border: 1px solid $colorFuchiaIntermedio;
        transition: $transicion600ms; */
        cursor: default;
      }
    }

    span {
      /*    padding: 5px; */
      margin-right: 7px;

      /* border: 1px solid #fff;

      border-radius: 5px;
      background-color: #390f64;
      transition: $transicion600ms; */

      &:hover {
        /* border: 1px solid $colorFuchiaIntermedio;
        transition: $transicion600ms; */
      }
    }
  }

  .containerActivity {
  }

  .contentRecentActivities {
    align-items: center;
    background-color: $formBackground;
    border-radius: 10px;
    display: flex;

    justify-content: space-between;
    margin-top: 10px;
    padding: 5px;

    border: 1px solid #fff;
    padding: 10px 20px;
    transition: $transicion600ms;

    &:hover {
      border: 1px solid $colorFuchiaIntermedio;
      transition: $transicion600ms;
      cursor: pointer;
    }

    .containerInfo {
      width: 100%;

      h2 {
        font-size: 16px;
        letter-spacing: 0.3px;
        color: $azulClaro;
        margin-bottom: 10px;
      }

      .img {
        justify-content: flex-end;
        display: flex;
        img {
          justify-content: flex-end;
          display: flex;
        }
      }
    }
  }
}
