@import "variables.scss";
@import 'perfil.scss';
@import 'Insignias.scss';
@import 'RecentActivities.scss';
@import 'cardEvents.scss';

.containerMiPerfil{
    align-items: flex-start;
    display: flex;
    min-height: 75%;
    justify-content: space-around;
    width: 90%;

    .contentMiPerfil{
        display: flex;
        flex-direction: column;
    }
}
