@import "variables.scss";

.widget-perfil{
    align-items: center;
    background: $colorPurpleOscuro;
    border-radius: $borderRadius;
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    padding:2rem;
    position: relative;

    max-width: 415px;
    min-width: 415px;

    &-link{
        position: absolute;
        top:15px;
        right: 15px;
        color: $colorYellow1;
        text-decoration: none;
    }
    &-image{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1.2rem;
        &--rounded{
            border-radius: 50%;
            width: 150px;
            height: 150px;
            overflow: hidden;
            border: 4px solid #fff;
        }
    }
    &-name{
        font-size: 1.2rem;
    }
    &-subject{
        color: $auxiliar1;
        margin: 0.5rem 0 1.2rem 0;
        font-size: 1rem;
    }
    p{
        font-family: Lato;
        font-size: 1rem!important;
    }
    &-social{
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            margin: 10px;
            &:hover{
                svg{
                    fill: $auxiliar1;
                    path{
                        fill: $auxiliar1;
                    }
                }
            }
        }
        svg{
            width: 30px;height: 30px;fill: white;
            path{
                fill: white;
            }
        }
    }
}