@import "variables.scss";

.widget-perfil{
    background: $colorPurple1;
    border-radius: $borderRadius;
    padding:2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-link{
        position: absolute;
        top:15px;
        right: 15px;
        color: $colorYellow1;
        text-decoration: none;
    }
    &-image{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1.2rem;
        &--rounded{
            border-radius: 50%;
            width: 150px;
            height: 150px;
            overflow: hidden;
        }
    }
    &-name{
        font-size: 1.2rem;
    }
    &-subject{
        color: $colorPurple5;
        margin: 0.5rem 0 1.2rem 0;
        font-size: 1rem;
    }
    p{
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 1rem!important;
    }
    &-social{
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            margin: 10px;
            &:hover{
                svg{
                    fill: $colorPurple5;
                    path{
                        fill: $colorPurple5;
                    }
                }
            }
        }
        svg{
            width: 30px;height: 30px;fill: white;
            path{
                fill: white;
            }
        }
    }
}