@import '../form/formulario';

.card-group {
  display: flex;
  border-top: 1px solid #5d3884;
  align-items: center;
  padding: 8px 0px;
  justify-content: space-between;
  color: white;
  .card-group-image {
    border-radius: 50%;
    background: #ccc;
    overflow: hidden;
    width: 50px;
    height: 50px;
    img {
      width: 100%;
    }
  }

  .card-group-title {
    width: 50%;
    padding-left: 10px;
    .card-group-title_name {
      font-weight: bold;
      font-size: 1.2em;
    }
    .card-group-title_nivel {
      font-size: 0.8em;
    }
  }
  .card-group-rango {
    color: #9585a5;
    width: 30%;
    text-align: right;
  }
  &:first-child {
    border-top: 0;
  }
}

.name_team {
  padding: 1em 0 0 0;
  text-decoration: none;
  .title_name {
    h3 {
      font-size: 1em;
      color: #957bb1;
    }
    h2 {
      color: white;
      font-size: 1.2em;
    }
  }
  i {
    width: 30px;
    height: 30px;
  }
}
.subname_team {
  color: white;
}
.action-groups {
  margin-right: -0.5rem;
  margin-left: -0.5rem;
  > div {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}

/**card two result*/
.card-group-two {
  width: 100%;
  background: white;
  box-shadow: 0px 4px 4px rgba($color: #000000, $alpha: 0.5);
  margin-bottom: 1em;
  .card-group-two-image {
    width: 100%;
    position: relative;

    .card-group-two-tag {
      position: absolute;
      bottom: -14px;
      z-index: 1;
      background: #ccc;
      color: #111;
      padding: 0.4em 0.9em;
      border-radius: 0px 15px 15px 0px;
    }
    img {
      width: 100%;
      display: block;
    }
  }
  .card-group-two-description {
    padding: 1.5em 0.5em 0.5em;
    color: #111;
    .card-group-two-description_title {
      font-size: 1.2em;
      font-weight: bold;
      margin-bottom: 0.5em;
    }
    p {
      color: #111;
      margin-bottom: 0.5em;
    }
  }
}

/**buttons*/

.btn {
  border: 0;
  border-radius: 5px;
  outline: none;
  padding: 0.7em 1em;
  font-size: 16px;
  display: inline-flex;
  font-family: 'Crete Round', 'Lato', sans-serif;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  cursor: pointer;
}
.btn.full-width {
  width: 100%;
}
.btn-outline-default {
  border: 1px solid #fff;
  color: white;
}
.btn-outline-danger {
  border: 1px solid #af2a2a;
  color: #af2a2a;
}
.btn:disabled,
.btn[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.btn-default {
  background-color: #ccc !important;
  color: #282828;
  &:hover {
    background-color: rgb(187, 187, 187) !important;
    color: #282828;
  }
}
.btn-danger {
  background-color: #af2a2a !important;
  color: #af2a2a;
}
.btn-black {
  background-color: #282828 !important;
  color: #ccc;
  &:hover {
    background-color: #383838 !important;
    color: #ccc;
  }
}

@media screen and (min-width: 1024px) {
  .container-fluid {
    width: 90%;
    margin: 0 auto;
  }
  .wrap-group {
    .row {
      margin-right: -0.5rem;
      margin-left: -0.5rem;
      > div {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
      }
    }
  }
}
