@import "../form/formulario";

main.wrap {
  margin-top: 0;

  .margin0 {
    padding-top: 0;
  }
}

.card-group {
  display: flex;
  border-bottom: 1px solid #5d3884;
  align-items: center;
  padding: 8px 0px;
  justify-content: space-between;
  color: white;

  .card-group-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    .card-group-image {
      border: 4px solid #9349dd;
      box-shadow: 0px 0px 10px 0px #9349dd;
      border-radius: 50%;
      height: 50px;
      margin-right: 10px;
      object-fit: cover;
      width: 50px;
    }

    .card-group-title {
      .card-group-title_name {
        font-weight: bold;
        font-size: 1em;
      }
      .card-group-title_nivel {
        font-size: 0.8em;
      }
    }
  }
  .card-group-rango {
    color: #9585a5;
    font-size: 0.8em;
    text-align: left;
    padding-left: 8px;
  }
  &:first-child {
    border-top: 0;
  }
}

.name_team {
  padding: 1em 0 0 0;
  text-decoration: none;
  .title_name {
    h3 {
      font-size: 0.8em;
      color: #957bb1;
    }
    h2 {
      color: white;
      font-size: 1em;
    }
  }
  i {
    width: 30px;
    height: 30px;
  }
}
.subname_team {
  color: white;
}
.action-groups {
  margin-right: -0.5rem;
  margin-left: -0.5rem;
  button {
    font-size: 0.8em;
    font-weight: 600;
  }
  > div {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}

/**card two result*/

.containerCardGroup {
  align-items: center;
  background-color: #390f64;
  /* border-radius: 10px; */
  display: flex;
  flex-direction: column;
  height: 420px;
  justify-content: space-between;
  padding: 15px 10px;
  min-width: 330px;
  max-width: 330px;
  padding: 24px;
  min-height: 430px;
  max-height: 430px;
  margin-bottom: 32px;
  border: 1px solid #fff;
  transition: all ease 0.6s;
  transition: $transicion600ms;

  overflow: hidden;

  &:hover {
    * {
      transition: $transicion600ms;
    }

    border-radius: 10px;
    border: 1px solid $colorFuchiaIntermedio;

    .btn-black {
      background-color: $colorPurpleSuave !important;
      color: #fff;
      border: 1px solid $colorFuchiaIntermedio;
    }

    .card-group-two
      .card-group-two-description
      .card-group-two-description_title {
      width: calc(100% + 4px);
      /* border-top: 1px solid $colorFuchiaIntermedio; */
      border-bottom: 1px solid $colorFuchiaIntermedio;
    }

    .card-group-two .card-group-two-image .card-group-two-tag {
      background-color: $colorFuchiaIntermedio;
    }

    .card-group-two .card-group-two-image img {
      border-bottom: 1px solid $colorFuchiaIntermedio;
    }
  }

  .text-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.card-group-two {
  width: 100%;
  background: transparent;
  /* box-shadow: 0px 4px 4px rgba($color: #000000, $alpha: 0.5); */
  /* margin-bottom: 1em; */
  .card-group-two-image {
    width: 100%;
    position: relative;

    width: calc(100% + 48px);
    top: -24px;
    position: relative;
    left: -24px;

    min-width: calc(100% + 48px);
    max-width: calc(100% + 48px);
    min-height: 184px;
    max-height: 184px;

    .card-group-two-tag {
      position: absolute;
      left: 15px;
      bottom: -35px;
      z-index: 1;
      background: $colorPurpleSuave;
      color: #fff;
      padding: 0.4em 0.9em;
      border-radius: 0px 15px 15px 0px;
      transition: $transicion600ms;
    }
    img {
      width: 100%;
      display: block;
      border-bottom: 1px solid $colorPurpleSuave;
      transition: $transicion600ms;
    }
  }
  .card-group-two-description {
    padding: 1.5em 0.5em 0.5em;
    color: #fff;

    padding-top: 0;
    .card-group-two-description_title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px;
      color: $colorFuchiaIntermedio;
      /* border-top: 1px solid $colorPurpleIntermedio; */
      border-bottom: 1px solid $colorPurpleIntermedio;
      transition: $transicion600ms;
      width: 100%;
    }
    p {
      color: #fff;
      margin-bottom: 0.5em;
    }
  }
}

/**buttons*/

.btn {
  border: 0;
  border-radius: 5px;
  outline: none;
  padding: 0.7em 1em;
  font-size: 16px;
  display: inline-flex;
  font-family: "Crete Round", "Lato", sans-serif;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  cursor: pointer;
}
.btn.full-width {
  width: 100%;
}
.btn-outline-default {
  border: 1px solid #fff;
  color: white;
}
.btn-outline-danger {
  border: 1px solid #af2a2a;
  color: #af2a2a;
}
.btn:disabled,
.btn[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.btn-default {
  background-color: #ccc !important;
  color: #282828;
  &:hover {
    background-color: rgb(187, 187, 187) !important;
    color: #282828;
  }
}
.btn-danger {
  background-color: #af2a2a !important;
  color: #af2a2a;
}
.btn-black {
  background-color: $colorPurpleSuave !important;
  color: #fff;
  border: 1px solid transparent;
  transition: $transicion600ms;

  &:hover {
    background-color: $colorPurpleIntermedio !important;
    color: #fff;
  }
}
.wrap-group {
  .row {
    margin-top: 20px;
    .card-widget-2 {
      .card-scroll {
        padding: 1.2rem;
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  .wrap-group {
    .row {
      /*  margin-right: -0.5rem;
      margin-left: -0.5rem; */
      > div {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
      }
    }
  }
}

@media screen and (max-width: 769px) {
  .container-fluid {
    width: 95%;
    margin: 0 auto;
  }
  .wrap-group {
    .row {
      /*   margin-right: -0.5rem;
      margin-left: -0.5rem; */
      > div {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
      }
    }
  }
}
