$formBackground:#33004B;

$inputBackground:#570C69;
$inputBackgroundFocus:#74088f;

$buttonBackground:#92278F;
$buttonBackgroundHover:#751972;

$forgotPasswordColor:#a854a7;

.resetPasswordContainer{
    background-color: $formBackground;
    border-radius: 10px;
    font-family: Lato, sans-serif;
    max-width: 410px;
    padding:40px;
    text-align: center;

    h1{
        color: #fff;
        margin: 0;
        padding-bottom: 30px;
    }
    
    p{
        padding-bottom: 30px;
        color: rgb(231, 231, 231);
    }

    form {
        width: 100%;
   
        .inputContainer{
            align-items: center;
            background-color: $inputBackground;
            border-radius: 4px;
            height: 35px;
            
            justify-content: center;
            margin-bottom: 25px;
            padding: 0 0 0 8px;
            overflow: hidden;
            

            .icoBackground{
                align-items: center;
                background-color: #fff;
                border-radius: 50%;
                display: flex;

                height: 25px;
                justify-content: center;

                .ico {
                    align-items: center;
                    border-radius: 50%;
                    color: $inputBackgroundFocus;
                    display: flex;

                    font-size: 17px;
                    justify-content: center;
                }
            }

            input {
                background-color: transparent;
                border: 3px solid #570C69;
                border-radius: 4px;
                color: #fff !important;
                
                font-weight: 300;
                height: 100%;
                padding: 10px;
                
                &:focus {
                    outline: none;
                    background-color:$inputBackgroundFocus;
                    border: 3px solid #690c61;
                }
                &::-webkit-input-placeholder {
                  color: #eee;
                }
            
                &::-moz-placeholder {
                  color: #eee;
                }
            
                &::-ms-input-placeholder {
                  color: #eee;
                }
              }
        }

        .buttonContainer{
            display:flex;
            justify-content: center;
            margin-bottom: 20px;

            button{
                background-color: $buttonBackground;
                border-radius: 5px;
                border: 0;
                color: white;
                font-weight:700;

                height: 40px;
                outline: none;
                padding: 5px 20px;
                width: 165px;

                &:hover{
                    background-color: $buttonBackgroundHover;
                }
            }
        }
    }
}