/* Colores de Comfeco */
$colorGris1: #2e2e2e;
$colorGris2: #555555;
$colorGris3: #777879;
$colorGris4: #c4c4c4;
$colorGris5: #e3e3e3;

$colorBlaco1: #fff;
$colorBlaco2: #f3f3f3;

$colorFuccia1: #69156a;
$colorFuccia2: #8a178c;
$colorFuccia3: #b824bb;
$colorFuccia4: #d740da;
$colorFuccia5: #e480e5;
$colorFuccia6: #ecadf6;

$colorMorado1: #390f64;
$colorMorado2: #521e87;
$colorMorado3: #7535b6;
$colorMorado4: #9349dd;
$colorMorado5: #b983ff;
$colorMorado6: #d7b7ff;

$colorAmarillo1: #d39c00;
$colorAmarillo2: #f1b406;
$colorAmarillo3: #ffc41f;
$colorAmarillo4: #ffcb38;
$colorAmarillo5: #ffd767;
$colorAmarillo6: #ffe499;