/* Colores de Comfeco */
$colorGray1: #2e2e2e;
$colorGray2: #555555;
$colorGray3: #777879;
$colorGray4: #c4c4c4;
$colorGray5: #e3e3e3;

$colorWhite: #f3f3f3;

$colorFuchia1: #69156a;
$colorFuchia2: #8a178c;
$colorFuchia3: #b824bb;
$colorFuchia4: #d740da;
$colorFuchia5: #e480e5;
$colorFuchia6: #ecadf6;


$colorPurple1: #390f64;
$colorPurple2: #521e87;
$colorPurple3: #7535b6;
$colorPurple4: #9349dd;
$colorPurple5: #b983ff;
$colorPurple6: #d7b7ff;

$colorYellow1: #d39c00;
$colorYellow2: #f1b406;
$colorYellow3: #ffc41f;
$colorYellow4: #ffcb38;
$colorYellow5: #ffd767;
$colorYellow6: #ffe499;

$fontBasic: 'Lato', 'Crete Round', sans-serif;
$fontTitle:'Crete Round','Lato', sans-serif;

$border: 1px solid #fff;

$transicion600ms: all ease 600ms;
$transicion600msLineal:all 600ms;
$transitionS1: 1s ease all;

$colorIcons: #fff;
$colorText: #fff;
$borderHeaderFooter: 2px solid #fff;;

$colorSelection: $colorPurple3;

$formBackground: $colorPurple1;
$formInputBackground:$colorPurple2;

$borderRadius: 10px;
