@import "variables.scss";

.dashboard {
  min-height: calc(100% - 50px - 75px);
}
/* .content {
  display: grid;
  grid-template-columns: auto 20%;
  grid-auto-rows: auto;
  grid-gap: 15px;
  width: 90%;
  margin: 0 auto;
  padding: 15px;
  grid-template-areas:
    " panelCabecera    containerPaneles"
    " panelColaborador containerPaneles"
    " panelSponsor     containerPaneles"
    " panelTimer       containerPaneles";
} */

/* .content *{
  border: 1px solid red;
} */

.panelCabecera {
  background-color: $colorPurple1;
  height: 200px;
  max-height: 35vh;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  /* box-shadow: 900px 3px 1px #ff0081, -900px 3px 1px #ff0081; */
  width: 90%;

  * {
    font-family: $fontTitle;
  }
  h1 {
    width: 100%;
    color: #fff;
    margin-bottom: 0px;
    letter-spacing: 0.5px;
  }
  h3 {
    letter-spacing: 0.3px;
    margin-bottom: 0px;
    color: rgb(255, 255, 255, 0.9);
  }
  .text {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-bottom: 25px;
    letter-spacing: 0.3px;
  }
}
.panelColaborador {
  width: 100%;

  .swiper-container {
    width: 100%;
  }
}
.panelTaller {
  grid-area: panelTaller;
}
.panelSponsor {
  grid-area: panelSponsor;
  height: 150px;
}
.panelTimer {
  grid-area: panelTimer;
  background-color: black;
}
.panelCom {
  grid-area: panelCom;
}
#content {
  .card-container-com {
    background-color: $colorPurple6;
    padding: 15px;
    font-size: 0.75em;
    .card-com {
      .card-com-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        .card-com-title {
          color: $colorWhite;
        }
      }
      .card-com-body {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        border-bottom: 1px solid $colorPurple1;
        padding-bottom: 4px;
      }
      .card-com-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .card-com-img {
        background: gray;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 5px;
      }

      .card-com-title {
        font-weight: 400;
      }

      .card-com-link {
        color: $colorPurple2;
      }
    }
  }
  .card-container-taller {
    background-color: $colorPurple6;
    padding: 15px;
    overflow: auto;
    height: 223px;
    font-size: 0.75em;
    .card-taller {
      .card-taller-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        .card-taller-title {
          color: $colorWhite;
        }
      }
      .card-taller-select {
        margin: 20px auto;
        .css-1uccc91-singleValue {
          white-space: normal;
        }
      }

      .card-taller-body {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        border-bottom: 1px solid $colorPurple1;
        padding-bottom: 4px;
      }
      .card-taller-event {
        background-color: $colorPurple1;
        color: $colorWhite;
        padding: 4px;
        margin: 8px 0;
      }
      .card-taller-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .card-taller-img {
        background: gray;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .card-taller-text {
        display: flex;
        flex-flow: column wrap;
        .card-taller-title {
          font-weight: 400;
          color: $colorGray2;
        }
        .card-taller-hora {
          color: $colorGray3;
          margin-bottom: 4px;
        }
        .card-taller-subtext {
          color: $colorGray1;
          .card-taller-name {
            color: $colorPurple2;
          }
        }
      }
      .card-taller-link {
        cursor: pointer;
        color: $colorPurple2;
      }
    }
  }
}

/*mobile grid */
@media screen and (max-width: 768px) {
  #content {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-gap: 20px;
    width: 90%;
    margin: 0 auto;
    grid-template-areas:
      "panelCabecera"
      "panelColaborador"
      "panelSponsor"
      "panelCom"
      "panelTaller"
      "panelTimer";
  }
}
