@import "variables.scss";

.backgroundHome {
  background: linear-gradient(to top, $colorPurple1, $colorBackgroundBlackLigt);
  height: 186%;
  left: -200px;
  position: fixed;
  transform: rotate(-183deg);
  width: 235%;
  z-index: -150;
  top: -200px;
}

.containerNotLogin {
  display: inherit;
  flex-wrap: inherit;
  min-height: inherit;
  width: 100%;
}

.containerSesion {
  font-family: $fontTitle;
  .welcome {
    height: 400px;
    h1 {
      /* margin: 0; */
      width: 100%;
      color: #fff;
      margin-bottom: 0px;
      letter-spacing: 0.5px;
      height: 0px;
    }

    h3 {
      letter-spacing: 0.3px;
      margin: 0px;
      color: rgba(255, 255, 255, 0.9);
      height: 0px;
    }

    .text{
      /* text-align: left; */
      margin-top: -60px;
      height: 0;
    }
  }
}
