@import "variables.scss";

footer {
  align-self: flex-end;
  align-items: center;
  color: #fff;
  justify-content: center;
  width: 100%;

  .containerFooter {
    align-items: center;
    border-top: $borderHeaderFooter;
    display: flex;
    height: 50px;
    justify-content: center;
    width: 90%;
  }
}
