main {
  align-items: center;
  display: flex;
  justify-content: center;

  padding-top: 75px;
  width: 100%;
}

.form-group-register {
  background-color: #33004b;
  border-radius: 10px;
  padding: 40px;
  max-width: 405px;

  form {
    max-width: 324px;

   
  }

  
}
