

.form-group-register {
  background-color: #33004b;
  border-radius: 10px;
  padding: 40px;
  max-width: 405px;

  form {
    max-width: 324px;

    span.icoBackground {
      align-items: center;
      background-color: #fff;
      border-radius: 50%;

      display: flex;
      height: 27px;
      justify-content: center;

      &.col-xs-2 {
        -ms-flex-preferred-size: 10.666667%;
        flex-basis: 10.666667%;
        max-width: 10.666667%;
      }

      .ico {
        align-items: center;
        border-radius: 50%;
        color: #942b94;
        display: flex;
        font-size: 17px;
        justify-content: center;
      }
    }
  }

  .containerInput {
    align-items: center;
    background-color: #570c69 !important;
    border-radius: 4px;
    height: 39px;

    margin-bottom: 30px;
    justify-content: center;
    padding: 0 10px 0 8px;
    overflow: hidden;
  }

  input {
    background-color: #570c69 !important;
    border: none;
    color: #fff !important;
    font-weight: 300;

    max-width: 300px;
    margin-left: 10px;
    padding: 10px;
    width: 100%;

    &:focus {
      outline: none;
    }
    &::-webkit-input-placeholder {
      color: #fff;
    }

    &::-moz-placeholder {
      color: #fff;
    }

    &::-ms-input-placeholder {
      color: #fff;
    }
  }
}
