.form-login-container{
    background-color: #33004b;
    border-radius: 10px;
    font-family: Lato, sans-serif;
    max-width: 405px;
    padding: 40px;

    form {
        max-width: 324px;
   
        .input-container{
            align-items: center;
            background-color: #570c69 !important;
            border-radius: 4px;
            height: 40px;

            justify-content: center;
            margin-bottom: 25px;
            padding: 0 10px 0 8px;
            overflow: hidden;

            .ico-background{
                align-items: center;
                background-color: #fff;
                border-radius: 50%;
                display: flex;

                height: 25px;
                justify-content: center;

                &.col-xs-2 {
                    -ms-flex-preferred-size: 10%;
                    flex-basis: 10%;
                    max-width: 9%;
                }

                .ico {
                    align-items: center;
                    border-radius: 50%;
                    color: #942b94;
                    display: flex;

                    font-size: 17px;
                    justify-content: center;
                }
            }

            input {
                background-color: #570c69 !important;
                border: none;
                color: #fff !important;
                font-weight: 300;

                max-width: 300px;
                margin-left: 5px;
                padding: 10px;
                width: 100%;
            
                &:focus {
                  outline: none;
                  border: 1px solid #570c69;
                }
                &::-webkit-input-placeholder {
                  color: #fff;
                }
            
                &::-moz-placeholder {
                  color: #fff;
                }
            
                &::-ms-input-placeholder {
                  color: #fff;
                }
              }
        }

        .button-container{
            display:flex;
            justify-content: center;

            button{
                background-color: #92278F;
                color: white;
                border-radius: 5px;
                height: 35px;
                padding: 5px 20px;
                font-weight:700;

                outline: none;
                border: 0;

                &:hover{
                    background-color: #871d83;
                }
            }
        }

        .forgotPassword-container{
            margin-bottom: 20px;
            
            
            a{
                color:#a743a5;
                text-decoration: none;

                &:hover{
                    text-decoration: underline;
                }
            }
        }

        .buttom{
            border: none;
            border-radius: 10px;
            justify-content: center;
        }
    }
}