.formGroupSesion {
  background-color: #33004b;
  border-radius: 10px;
  
  max-width: 405px;

  /* Styles for demo */
  min-height: 547px;
  min-width: 415px;
  max-height: 547px;
  max-width: 415px;

  padding: 40px;


  .botonesDeSesion {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;

    /* &.padding{
        padding: 40px 40px 0 40px;
    } */
  }

  button {
    border: none;
    background-color: transparent;

    a {
      color: #fff;
      text-decoration: none;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      cursor: pointer;
    }
  }
  span {
    color: #fff;
  }

  form {
    max-width: 324px;
    width: 100%;

    .containerInput {
      align-items: center;
      background-color: #570c69 !important;
      border-radius: 4px;
      height: 39px;

      margin-bottom: 30px;
      justify-content: center;
      padding: 0 10px 0 8px;
      overflow: hidden;

      span.icoBackground {
        align-items: center;
        background-color: #fff;
        border-radius: 50%;

        display: flex;
        height: 27px;
        justify-content: center;

        &.col-xs-2 {
          -ms-flex-preferred-size: 10.666667%;
          flex-basis: 10.666667%;
          max-width: 10.666667%;
        }

        .ico {
          align-items: center;
          border-radius: 50%;
          color: #942b94;
          display: flex;
          font-size: 17px;
          justify-content: center;
        }
      }

      input {
        /* 
        background-color: #570c69 !important; */
        background-color: transparent;
        border: 3px solid transparent;
        color: #fff !important;
        font-weight: 300;
        border-radius: 4px;
        height: 100%;

        padding: 10px;

        &:focus {
          outline: none;
          background-color: #74088f;
          border: 3px solid #690c61;
        }
        &::-webkit-input-placeholder {
          color: #fff;
        }

        &::-moz-placeholder {
          color: #fff;
        }

        &::-ms-input-placeholder {
          color: #fff;
        }
      }
    }

    .buttonContainer {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;

      button.login {
        background-color: #92278f;
        border-radius: 5px;
        border: 0;
        color: white;
        font-weight: 700;

        height: 40px;
        outline: none;
        padding: 5px 20px;
        width: 50%;

        &:hover {
          background-color: #871d83;
        }
      }
    }

 

  }

}

  