@import "variables.scss";
body {
  min-height: 111vh;
}

header {
  /* background-color: $colorBody; */
  align-items: center;
  height: fit-content;
  justify-content: center;
  min-height: 75px;
  position: fixed;
  width: 100%;
  z-index: 100;

  background-color: transparent;
  transition: $transicion600ms;
  border-bottom: 2px solid transparent;

  /* .user_nav {
    background: rgba(white, 0.5);
    padding: 5px;
    border-radius: 10px;

    p {
      margin-right: 10px;
    }

    img {
      width: 50px;
      height: 50px;
      margin-right: 10px;
      border-radius: 50%;
    }

    button {
      padding: 10px;
      border: white 1px solid;
      border-radius: 10px;
      color: white;
      cursor: pointer;

      &:hover {
        transition: all ease 0.3s;
        background: white !important;
        color: #111;
      }
    }
  } */
}

.usuario {
  margin-left: 40px;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;

    .img {
      border-left: 2px solid #fff;
    }
    li {
      margin-right: 8px;

      span.icon-expand_more {
        padding-top: 6px;
      }
    }
  }

  img {
    height: 30px;
    width: 30px;
    border-radius: 100%;
  }
}

.containerHeader {
  align-items: center;
  border-bottom: $borderHeaderFooter;
  transition: $transicion600ms;
  display: flex;
  justify-content: center;
  width: 90%;

  .navegation {
    display: inline-flex;

    nav {
      align-items: center;
      display: flex;
      justify-content: center;
      margin-left: auto;

      ul li {
        display: inline-block;
        padding: 36px 0 36px 15px;

        a {
          color: #fff;
          display: block;
          font-size: 13px;
          font-weight: bold;

          letter-spacing: 1px;
          line-height: 22px;
          margin-right: 9px;

          padding: 0;
          text-decoration: none;
          text-transform: uppercase;

          span {
            padding-right: 10px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  header.menuFixed {
    background-color: $colorBackgroundColorFixed;
    transition: $transicion600ms;
    border-bottom: $borderHeaderFooter;

    .containerHeader {
      border-bottom: 2px solid transparent;
      transition: $transicion600ms;
    }
  }
  header {
    .headerDesktop {
      .col-xs-3 {
        position: relative;
        a {
          margin-left: 30px;
        }
      }

      a img {
        width: 180px !important;
        height: 50px !important;
      }

      .borderRight {
        border-right: 2px solid #fff;
        height: 107px;
        position: absolute;
        right: 170px;
        top: -30px;
      }

      .usuario {
        ul {
          li {
            color: #fff;
            display: block;
            font-size: 13px;
            font-weight: bold;

            letter-spacing: 1px;
            line-height: 10px;
            /* margin-right: 9px; */

            /* padding: 0; */
            text-decoration: none;
            text-transform: uppercase;

            span.icon-expand_more {
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 769px) {
  header {
    .headerPhone {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    .headerDesktop {
      display: none;
    }
  }

  .headerPhone {
    background-color: #111;
    .imgLogo {
      img {
        width: 120px;
      }
    }
  }

  .containerHeader {
    width: 100%;

    .col-xs-2.left {
      text-align: left;

      .ico {
        font-size: 18px;
      }
    }
  }
  .col-xs-2.right {
    text-align: right;

    .ico {
      font-size: 18px;
    }
  }
}

@media screen and (min-width: 1025px) {
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  header {
    background-color: #111;
    width: 100%;
    border-bottom: 2px solid #fff;
    .containerHeader {
      border-bottom: none;
    }
  }

  main {
    margin-top: 95px !important;
  }
}
