@import "variables.scss";
main {
  align-items: center;
  background-color: transparent;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: calc(100% - 50px);
}

.backgroundRegister {
  background: #fff;

  background: linear-gradient(
    to right,
    #d49c00, #d19d00, #f2b307, #881986, #7434b4, #9048de, #7736be, #b925b7, #b628b9, #b526b9, #d39d00, #d19d00, #d19e00
  );

  height: 215vh;
  width: 161vw;
  position: fixed;
  z-index: -1;
  transform: rotateZ(-45deg);
  left: -30vw;
  top: -60vh;
}

.containerSesion {
  width: 90%;
  min-height: 550px;
}
/* 
.containerRegisterLogin {
  width: 100%;
  position: relative;
  color: #fff;
  transition: 0.3s ease all;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  cursor: pointer;
  z-index: 2;
}

.containerRegisterLogin.active {
  transform: rotateY(180deg);
}

.delantera {
  
  p {
    min-height: 100px;
    max-width: 100px;
    background-color: red;
  }
}
 */
