$formBackground:#33004B;

$inputBackground:#570C69;
$inputBackgroundFocus:#74088f;

$buttonBackground:#92278F;
$buttonBackgroundHover:#751972;

$forgotPasswordColor:#a854a7;

.formLoginContainer{
    background-color: $formBackground;
    border-radius: 10px;
    font-family: Lato, sans-serif;
    max-width: 410px;
    padding:40px;

    h1{
        color: #fff;
        margin: 0;
        padding-bottom: 30px;
    }

    form {
        width: 100%;
   
        .inputContainer{
            align-items: center;
            background-color: $inputBackground;
            border-radius: 4px;
            height: 35px;
            
            justify-content: center;
            margin-bottom: 25px;
            padding: 0 0 0 8px;
            overflow: hidden;
            

            .icoBackground{
                align-items: center;
                background-color: #fff;
                border-radius: 50%;
                display: flex;

                height: 25px;
                justify-content: center;

                .ico {
                    align-items: center;
                    border-radius: 50%;
                    color: $inputBackgroundFocus;
                    display: flex;

                    font-size: 17px;
                    justify-content: center;
                }
            }

            input {
                background-color: transparent;
                border: 3px solid #570C69;
                border-radius: 4px;
                color: #fff !important;
                
                font-weight: 300;
                height: 100%;
                padding: 10px;
                
                &:focus {
                    outline: none;
                    background-color:$inputBackgroundFocus;
                    border: 3px solid #690c61;
                }
                &::-webkit-input-placeholder {
                  color: #eee;
                }
            
                &::-moz-placeholder {
                  color: #eee;
                }
            
                &::-ms-input-placeholder {
                  color: #eee;
                }
              }
        }

        .checkBoxContainer{
            color: #eee;
            margin-bottom: 30px;

            label{
                width:18px;
                
                &::before{
                    background:white;
                    border-radius: 50%;
                    display:block;
                    content: '';

                    height: 100%;
                    width: 100%;
                    transition: 1s;
                }
            }

            input{
                display: none;

                    &:checked ~ label:before{
                        background-image: url(./icons/check.png);
                        background-size: contain;
                        transform: rotate(1turn) scale(1.1)
                    }
            }

            p{
                margin-left: 10px;
            }
        }
        
        .buttonContainer{
            display:flex;
            justify-content: center;
            margin-bottom: 20px;

            button{
                background-color: $buttonBackground;
                border-radius: 5px;
                border: 0;
                color: white;
                font-weight:700;

                height: 40px;
                outline: none;
                padding: 5px 20px;
                width: 165px;

                &:hover{
                    background-color: $buttonBackgroundHover;
                }
            }
        }

        .forgotPasswordContainer{
            display: flex;
            justify-content: center;
            
            a{
                color:$forgotPasswordColor;
                text-decoration: none;

                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}

/* Change default styles of input autocomple */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active{
  box-shadow: $inputBackground;
  -webkit-box-shadow: 0 0 0 30px $inputBackground inset !important;
  -webkit-text-fill-color: #fff !important;
  border: 3px solid transparent;
}
input:-webkit-autofill:focus{
  box-shadow: $inputBackgroundFocus;  
  -webkit-box-shadow: 0 0 0 30px $inputBackgroundFocus inset !important;
}